@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Pangolin', cursive;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #fcf80173;
    ;
}

.container {
    position: relative;
    max-width: 800px;
    padding: 15px;
    margin: 0 auto;
}

.add-task {
    width: 100%;
    display: flex;
    padding: 15px 0;
}

.add-task>input[type="text"] {
    width: 90%;
    height: 30px;
    color: rgba(78, 22, 124, 0.623);
    border: none;
    border-bottom: 4px solid rgb(100, 100, 100);
    background: none;
    outline: none;
    font-size: 22px;
    padding: 10px;
}

.add-task button {
    margin: 0 10px;
    background: #2c3e50;
    color: rgb(182, 182, 182);
    outline: none;
    border: 1px solid rgb(69, 12, 107);
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 15px;
}

.notCompleted,
.Completed {
    margin: 5px;
    padding: 20px;
}

h3 {
    font-size: 24px;
    text-align: center;
    color: rgb(145, 145, 145);
    text-transform: uppercase;
}

ol {
    list-style: none;
    counter-reset: my-counter;
}

ol li {
    width: 100%;
    padding: 18px;
    margin: 5px 0;
    background-color: #fff;
    font-size: 22px;
    counter-increment: my-counter;
    border-radius: 30px;
}

ol li::before {
    content: counter(my-counter);
    background: #16a085;
    ;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    color: rgb(204, 201, 201);
    margin-right: 15px;
}

.notCompleted li {
    border-radius: 30px;
    background-color: #962fdb86;
    color: rgb(41, 41, 41);
}

li button {
    float: right;
    padding: 5px;
    font-size: 20px;
    line-height: 28px;
    margin-right: 15px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

#clock {
    font-size: 20px;
    color: #2c3e50;
    position: fixed;
    top: 7%;
    left: 0;
    margin: 10px;
    background-color: rgb(165, 233, 148);
    padding: 10px;
    border-radius: 30px;
}

.h2 {
    font-size: 30px;
    color: #2c3e50;
    margin: 15px;
    text-align: center;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px;
}